@inherits UmbracoTemplatePage
@{
    // Model.Content is the current page that we're on
    // AncestorsOrSelf is all of the ancestors this page has in the tree
    // (1) means: go up to level 1 and stop looking for more ancestors when you get there
    // First() gets the first ancestor found (the home page, on level 1)
    var homePage = CurrentPage.AncestorsOrSelf(1).First();
	var menuItems = homePage.Descendants();
	
}
<!-- Clients -->
<section class="is-clients">
    <h2 class="major"><span>Clients</span></h2>
    <div>
        <div class="row">
            @foreach (var client in menuItems.Where("client"))
            {
                <div class="2u">
                    <!-- Client -->
                    <section class="is-client">
                        <a href="@client.clientUrl" class="image image-thumb"><img src="@client.Image" alt="" /></a>
                        @Umbraco.Truncate(client.BodyText, 100)
                    </section>
                    <!-- /Client -->
                </div>
            }
        </div>
    </div>
</section>
<!-- /Clients -->